.jumbotron {
    display: flex;
    align-items: center;
    background-size: cover;
    height: 500px;
}

.navbar-brand {
    font-size: 40px;
}

#map {
    height: inherit;
    width: 100%;
}